/*clases -> class -> .container-fluid
ID -> id -> #principal exclusivo por documento
Etiquetas -> body, nav
Sintaxis
-Selector{
	atributo: valor;
	atributo2: "valorstring";
	atributo3: #ddd;
}*/

  body{
    font-family: 'Raleway', sans-serif; 

  }
  header{
    background: url("../img/background-header.jpg");
    
    height: 800px;
    background-size: cover;}

  #logotipo{margin-top: 35px}

  header .nav{
    justify-content: flex-end;
  }

  header .nav-link{
    font-size: 14px;
    color: #ffffff;
    padding-top: 40px;
  }
  header .nav-link:hover{
    background: #ffffff;
    color:#3134ee;
  }
  .h1-header{
    text-align: center;
    margin-top: 158px;
    color: #ffffff;
      font-weight: 700;
      font-size: 75px;
  }
  .p-header{
    text-align: center;
    color: #ffffff;
    margin-top: 42px;
    font-weight: 700px;
    font-size: 26px;
    
  }
  header .btn:hover{
    background: #ffffff;
    color: #3134ee;
  }

  header .btn {
    text-align: center;
    margin-top: 78px;
    width: 201px; 
    height: 46px; 
    background-color: #e84545;
    color: #fff;
    font-size: : : 8px;
    padding-top: 9px;
  
  }
/*---------------- FIN HEADER------------------*/
/*----------------SECCION TEAM------------------*/
.seccion-team{
	padding-top: 100px;
	padding-bottom: 100px;
}
.persona {
  	max-width: 270px;
}
.persona-content {
  	margin-top: 20px; 
}
.persona h4 {
  	font-weight: 400;
}
.persona h5 {
  	color: #e84545;
  	font-size: 13px;
  	font-weight: 400;
  	margin-bottom: 20px;
}
.social-icons, .footer .footer-share{
	padding-left: 0px;
  	margin-top: 30px;
  	list-style-type:none
}
.social-icons li, .footer .footer-share li{
  	float: left; 
}
.social-icons a, .footer .footer-share a{
  	border: 1px solid #e8ecee;
  	-moz-border-radius: 2px;
  	-webkit-border-radius: 2px;
  	border-radius: 2px;
  	color: #c6cacc;
  	display: block;
  	font-size: 18px;
  	height: 40px;
  	line-height: 40px;
  	margin-right: 5px;
  	text-align: center;
  	width: 40px; 
}
.social-icons a:hover, .footer .footer-share a:hover{
  	background-color: #e84545;
  	border-color: #e84545;
  	color: #fff; 
}

/*----------------SECCION TEAM------------------*/


/*----------------SECCION IMGS HIPSTERS	------------------*/
.seccion-imgs{padding-top: 40px;}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e85351;
}

.col-sm-3:hover .overlay {
  opacity: .90;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.caja{ width: 410px;height: 400px; }
.text .titulo{ font-weight: 700; }
/*----------------SECCION IMGS HIPSTERS	------------------*/

/*----------------/SECCION TEAM------------------*/
/*----------------FOOTER------------------*/
.footer {
  text-align: center; 
}
.footer-top {
    background-color: #3a3e64;
    padding-top: 50px; 
}
.footer-bottom {
    background-color: #313454;
    padding: 20px 0; 
}
.footer .footer-col {
    margin-bottom: 80px; 
}
.footer h5 {
    color: #fff; 
}
.footer h5 {
    margin-bottom: 20px; 
}
.footer p {
    color: rgba(255, 255, 255, 0.5); 
}
.footer a {
    color: #fff; 
}
.footer a:hover {
    color: #e84545; 
}
.footer .footer-share {
    margin-top: 0; 
}
.footer .footer-share li {
    display: inline-block;
    float: none; 
}
.footer .footer-share a {
    border-width: 2px;
    color: #fff; 
}
.footer .fa-heart {
    color: #e84545;
    font-size: 11px;
    margin: 0 2px; 
}
/*----------------/FOOTER------------------*/
/*----------------DOWNLOAD-----------------*/
  .download h3 {
  text-align: center;
  margin-top: 45px; }
.download p {
  text-align: center;
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase; }
.download a {
  padding: 15px 40px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background: #e84545;
  color: #fff;
    margin-top: 40px;
    margin-bottom: 40px }
/*----------------/DOWNLOAD-----------------*/
/*----------------SLIDER------------------*/
.background-color-slider{
  background-color: #53354a;
  color: #fff;
}
.text-slider{
  font-family: 'Raleway', sans-serif;
  
  color: #fff;
  margin-top: 30px;
}
/*----------------/SLIDER------------------*/

